.content {
  display: flex;
  justify-content: center;
  min-height: 52vh;
  width: 100%;
  background-color: #fff;
  color: #000;
}
.wrapper {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.main {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 400;
  font-weight: 800;
  color: #01567f;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-title {
  justify-content: space-between;
  margin-bottom: 32px;
}
.create-date {
  font-style: italic;
}
.order-status {
  margin-bottom: 32px;
}
.statusContainer {
}
.statusTitle {
}
.statusRight {
  margin-left: 10%;
}
.paymentStatusContent {
  color: #047e00;
  font-weight: 700;
  margin-left: 16px;
}
.warning {
  color: red;
}
.deliveryStatusContent {
  color: rgb(91, 91, 91);
  font-weight: 700;
  margin-left: 16px;
}
.order-info {
  margin-bottom: 32px;
  width: 100%;
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}
.order-info-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16;
  color: green;
}
.orderInfoBorder {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 20px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.user-address {
  line-height: 20px;
  max-height: 40px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order-address {
  flex: 2.2;
}
.order-checkout {
  flex: 1;
}
.order-note {
  flex: 1;
}
.orderTable {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.orderTableProductsContainer {
  flex-direction: column;
}
.productImg {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  // box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}
.orderTableHeading {
  width: 100%;
  justify-content: space-between;
  gap: 24px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 10px 0px;
  margin-bottom: 10px;
}
.productCol {
  text-align: center;
  flex: 5;
}
.priceCol {
  text-align: center;
  flex: 1;
}
.quantityCol {
  flex: 1;
  text-align: center;
}
.totalCol {
  text-align: center;
  flex: 1;
}
.productsItem {
  height: 120px;
  gap: 24px;
  width: 100%;
}
.productName {
  font-weight: 500;
  line-height: 20px;
  max-height: 40px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.productItemContainer {
  width: 100%;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0px;
}
.productDetail {
  height: max-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 90px;
  padding-bottom: 10px;
  margin-left: 16px;
}
.productSpecs {
  gap: 16px;
}
.orderTableFinal {
  gap: 72px;
  border-top: 1px solid #ccc;
  padding: 10px 0px 20px 0px;
  margin-top: 10px;
}
.padding {
  flex: 4;
}
.orderTableFinalContent {
  flex: 3;
  justify-content: space-between;
  gap: 48px;
}
.finalCol {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 32px;
}

.finalValueCol {
  flex: 1;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.finalPriceValue {
  font-size: 24px;
  font-weight: 800;
  color: brown;
}

.shippingValue {
  text-align: center;
}
.checkOutBtn {
  background-color: #00ae29;
  padding: 10px 14px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 20px;
}
.checkOutBtnInactive {
  background-color: #ec0000;
  padding: 10px 14px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 20px;
}
