.mainContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer {
  width: 420px;
  height: auto;
  box-shadow: 0px 1px 70px 7px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 10px;
  border-radius: 8px;
}
.title {
  color: #01567f;
  font-weight: 800;
  font-size: 26px;
}
.backLine {
  background-color: #e5e9ed;
  width: 150px;
  height: 5px;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.frontLine {
  width: 50px;
  height: 5px;
  border-radius: 4px;
  background-color: #01567f;
}

.warningTxt {
  margin-top: 10px;
  color: red;
}
.inputLabel {
  margin-bottom: 4px;
  text-align: left;
  width: 100%;
  padding-left: 6px;
  user-select: none;
}
.inputContainer {
  margin-bottom: 10px;
  height: 46px;
  width: 100%;
  border: #ccc 1px solid;
  border-radius: 2px;
  padding-left: 18px;
}
.inputField {
  line-height: 44px;
  font-size: 14px;
  color: #000;
  width: 90%;
}

.eye {
  padding: 6px;
}
.eye:hover {
  opacity: 0.5;
  cursor: pointer;
}
.btnContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 46px;
  width: 100%;
  border: #01567f 1px solid;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01567f;
  transition: background-color 0.3s;
}
.btnTxt {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  transition: color 0.3s;
  pointer-events: none;
  user-select: none;
}

.btnContainer:hover {
  background-color: #fff;
  .btnTxt {
    color: #01567f;
  }
  cursor: pointer;
}
.btnTxt:hover {
  color: #01567f;
}
.linkContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.forgotLink {
}
.forgotLink:hover {
  color: rgb(255, 140, 58);
  cursor: pointer;
}
.registerLink {
}
.registerLink:hover {
  color: #01567f;
  cursor: pointer;
}
.optionTitle {
  margin-top: 14px;
  margin-bottom: 10px;
}
.optionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.facebookBtn {
  background-color: #3b5998;
  width: 120px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.googleBtn {
  background-color: #e14b33;
  width: 120px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.optionTxt {
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
  user-select: none;
}
.separate {
  margin-left: 6px;
  margin-right: 6px;
  border-left: rgba(0, 0, 0, 0.2) solid 1px;
  height: 100%;
}
.facebookBtn,
.googleBtn:hover {
  cursor: pointer;
}
.rememberContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.rememberCheckBox:active {
}
.rememberTxt {
  margin-left: 16px;
  user-select: none;
}
.remember:hover {
  cursor: pointer;
}
.remember {
  display: flex;
  justify-content: flex-start;
}
