.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}

.overlay {
  transform: translateX(0);
  width: 0vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 8;
  position: fixed;
  top: 0;
}

.main {
  margin-top: 40px;
  width: 1260px;
  display: flex;
  gap: 20px;
}

.sideBar {
  width: 25%;
  height: auto;
  background-color: #fff;
  transition: all 0.5s;
}

.collectionContainer {
  background-color: #f7f8f9;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  border-radius: 4px;
}

.collectionTitle {
  color: #000;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 8px;
  user-select: none;
}

.collectionLinkContainer {}

.collectionLinkItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 32px;
  align-items: center;
}

.highlight {
  width: 0px;
  height: 0px;
  width: 2px;
  transition: all 0.2s;
  background-color: transparent;
}

.collectionLinkItemLeft {
  display: flex;
  height: 30px;
  align-items: center;

}

.collectionLinkItemLeft p {
  margin: 0;
  padding-left: 5px;
}

.filterOptItem p {
  margin: 0;
  margin-left: 10px;
}

.collectionLinkItem:hover {
  cursor: pointer;

  .collectionLinkTxt {
    color: #01567f;
  }

  .highlight {
    height: 20px;
    background-color: #01567f;
  }
}

.collectionLinkTxt {
  margin-left: 8px;
  user-select: none;
}

.filter {
  margin-top: 20px;
  border: 2px solid #eeeeee;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  border-radius: 4px;
}

.filterItem {
  margin-bottom: 10px;
}

.filterItemTitle {
  color: #000;
  font-weight: 800;
  font-size: 18px;
  margin: 16px 0px;
}

.filterOpt {
  max-height: 160px;
  overflow-x: hidden;
}

.filterOpt::-webkit-scrollbar {
  width: 6px;
  background: #fff;
  left: 0;
}

.filterOpt::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #f1f1f1;
  border: #dcdcdc 1px solid;
}

.filterOpt::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #01567f;
}

.filterOptItem {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 32px;
  align-items: center;
}

.filterOptItem:hover {
  cursor: pointer;

  .filterOptItemTxt {
    color: #01567f;
  }
}

.filterOptItemTxt {
  margin-left: 30px;
  user-select: none;
}

.selectedContainer {
  width: 100%;
}

.selectedHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.selectedTitle {
  color: #01567f;
  font-weight: 1000;
  font-size: 20px;
}

.selectedClearTxt {
  color: red;
  user-select: none;
  font-weight: 500;
}

.selectedClear:hover {
  cursor: pointer;
}

.selectedList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.selectedItem {
  background-color: #01567f;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 15px;
}

.selectedItem svg {
  vertical-align: 0;
}

.selectedItemIcon {
  height: 16px;
}

.selectedItemIcon:hover {
  cursor: pointer;
}

.selectedItemTxt {
  color: #fff;
  font-weight: 500;
  height: 16px;
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 0px;
  user-select: none;
}

.products {
  width: 75%;
}

.productsHeading {
  display: flex;
  justify-content: space-between;
  background-color: #f7f8f9;
  align-items: center;
  height: 52px;
  padding: 10px 16px 10px 16px;
  border: #f1f1f1 1px solid;
  border-radius: 2px;
  margin-bottom: 20px;
}

.productsHeadingTitle {
  font-size: 20px;
  font-weight: 800;
}

.sortContainer {
  display: flex;
  align-items: center;
}

.sortTitle {
  font-weight: 500;
  margin: 0px 10px 0px 4px;
  padding-bottom: 4px;
}

.sortOpt {
  border: #dcdcdc solid 1px;
  background-color: #fff;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: flex-start;
}

.productCard {
  width: 23.5%;
}

.filterBtn :hover {
  cursor: pointer;
}

.cart-popup-backdrop {
  position: fixed;
  opacity: 0.5;
  width: 100%;
  left: 0;
  top: 0 !important;
  right: 0;
  bottom: 0;
  background-color: #363636;
  z-index: 999;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media only screen and (max-width: 980px) {
  .sideBar {
    width: 320px;
    position: fixed;
    left: -20px;
    top: -50px;
    bottom: 50px;
    right: 20px;
    z-index: 10;
    scale: 0.9;
    height: 110vh;
    overflow-x: hidden;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 8;
    position: fixed;
    top: 0;
  }

  .products {
    width: 100%;
    margin: 0px 2%;
  }

  .productCard {
    min-width: 180px;
  }

  .filterBtn {
    background-color: #01567f;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
    transition: all 0.5s;
  }

  .filterBtn:hover {
    cursor: pointer;
  }

  .productsHeadingTitle {
    padding-left: 30px;
  }
}

@media (max-width: 480px) {
  .filterBtn {
    position: fixed;
  }

  .sideBar {
    position: fixed;
  }

  .overlay {
    position: fixed;
  }
}

.paginations-container {
  position: absolute;
  bottom: -52px;
  left: 50%;
}