.content {
  display: flex;
  min-height: 52vh;
  width: 100%;
  justify-content: center;
}
.wrapper {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.main {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 16px;
  font-weight: 800;
  color: #01567f;
}

.user-name {
  font-size: 16px;
  color: var(--hover-color);
  font-weight: 900;
}

.user-info {
  font-size: 16px;
  color: var(--hight-light-color);
  padding-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.account-info {
  margin-bottom: 17px;
}
