.addproduct__container {
  background-color: #fff;
  padding: 10px 50px;
  .addproduct__header {
    display: flex;
    justify-content: space-between;
  }
  .addproduct__header-title {
    color: var(--main-color);
  }
  .addproduct__header-btn-create {
    display: inline-flex;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    svg {
      font-size: 20px;
    }
  }
  .addproduct__body {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    .addproduct__action {
      display: flex;
      align-items: center;
      .action-active,
      .action-stock,
      .action-search {
        display: inline-block;
        padding: 4px;
        border: 1px solid #aeaeae;
        border-radius: 4px;
        height: 30px;
        cursor: pointer;
        font-size: 16px;
        margin: 20px;
      }
      .action-search {
        display: inline-flex;
        align-items: center;
        .action-search-input {
          font-size: 16px;
          width: 250px;
          margin-left: 5px;
        }
      }
      .action-search-icon {
        color: #000;
      }
    }
  }
  .addproduct__table {
    border-collapse: collapse;
    width: 100%;
    .table-head-list {
      background-color: #f4f6f8;
      padding: 10px 5px;
      .table-head-item {
        color: var(--text-gray-color);
        font-weight: 600;
        padding: 10px 0;
        text-align: left;
      }
    }
    .table-body {
      .product-item {
        border-bottom: 1px solid #e9ecee;
        td {
          vertical-align: middle;
          text-align: left;
          padding: 10px 0;
        }
        color: var(--text-gray-color);
        .product-info {
          display: flex;
          align-items: center;
          .product-img {
            width: 64px;
            height: 64px;
            object-fit: contain;
          }
          .product-info-detail {
            .product-name {
              display: -webkit-box; /* Sử dụng kiểu block cho phần tử */
              -webkit-line-clamp: 1; /* Số dòng tối đa mà phần tử có thể hiển thị */
              -webkit-box-orient: vertical; /* Chiều dọc cho phần tử */
              overflow: hidden; /* Ẩn phần nội dung vượt quá kích thước của phần tử */
              text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
              max-width: 250px; /* Đảm bảo phần tử chiếm toàn bộ chiều rộng của phần tử cha */
              color: #000;
              font-size: 14px;
            }
            .product-category {
              display: block;
              color: var(--text-gray-color);
              margin-top: 4px;
            }
          }
        }
        .product-time {
          .product-date {
            margin-bottom: 4px;
          }
        }
        .product-stock {
          max-width: 200px;
          .product-stock-detail {
            margin: 4px;
          }
        }
        .product-action {
          position: relative;
          .product-action-list {
            opacity: 1;
            transform: none;
            transform-origin: right top;
            transition: opacity 248ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 165ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            background-color: #fff;

            padding: 2px;
            .product-action-item {
              display: flex;
              align-items: center;
              font-weight: 500;
              cursor: pointer;
              padding: 2px 0;
              color: #000;
              a {
                color: #000;
              }
            }
          }
        }
      }
    }
    .action-checkbox {
      cursor: pointer;
      input {
        padding: 10px 5px;
        margin-left: 12px;
      }
    }
  }
  .product-image {
    width: 60px;
    height: 60px;
    margin-top: 12px;
  }
  .btn {
    padding: 10px;
    background: none;
    cursor: pointer;
  }
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  .icon-view {
    color: blue;
  }
  .icon-edit {
    color: green;
  }
  .icon-remove {
    color: red;
  }
}
.table-head-item:first-child {
  display: inline-block;
  margin-left: 11px;
}
.action-delete {
  color: red;
  button {
    background: #fff;
    color: red;
    font-size: 18px;
    cursor: pointer;
  }
}
.product-status > [class~="p-component"] {
  width: 160px;
}
.product-status > [class~="p-component"] > [class~="p-inputtext"] {
  font-weight: 500;
}
