/* CSS cho container chính */
.ProductMainInfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

  /* CSS cho container chứa hình ảnh và thông tin sản phẩm */
  .small-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    // overflow: hidden;
  }

  /* CSS cho hình ảnh sản phẩm chính */
  .left-image {
    width: min-content;
  }

  .main-image {
    width: fit-content;
  }

  .main-image img {
    width: 25em;
    height: 30em;
  }

  /* CSS cho container chứa các hình ảnh nhỏ */
  .small-images {
    flex: 1 1 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .swiper-wrapper {
    width: 300px;
    gap: 60px;
  }

  .each-small-img {
    margin: 10px;
    transition: transform 0.3s ease;
    width: 60px;
    height: 60px;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .each-small-img img {
    width: 60px;
    height: 60px;
  }

  .each-small-img:hover {
    transform: scale(1.1);
  }

  /* CSS cho phần thông tin sản phẩm */
  .right-info {
    flex: 1 1 100%;
    padding: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-code,
  .product-tradeMark,
  .product-stock {
    margin-bottom: 5px;
  }

  .co-tra-st {
    color: #01567f;
    margin-left: 5px;
  }

  .tradeMark-stock {
    display: flex;
    gap: 1em;
  }

  .product-price {
    margin-bottom: 10px;
    display: flex;
    gap: 0.5em;
    align-items: end;
    padding-bottom: 1em;
    border-bottom: 0.05em solid rgb(217, 215, 215);
  }

  .new-price,
  .new-price .currency-symbols {
    color: #d63031;
    font-size: 24px;
    font-weight: bold;
  }

  .old-price,
  .old-price .currency-symbols {
    color: #b2bec3;
    font-weight: 500;
    font-size: 18px;
    text-decoration: line-through;
  }

  .short-descripions {
    margin-bottom: 15px;
  }

  .color-picker {
    .picked-color {
      color: #01567f;
    }
    .all-color {
      display: flex;
      gap: 0.5em;
      margin: 0.5em 0;
      .each-color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #b2bec3;
        display: flex;
        align-items: start;
        justify-content: end;

        .active-color {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #2ecc71;
          color: #2ecc71;
        }
        .invisible-color {
          display: none;
        }
      }
    }
  }

  .size-picker {
    .picked-size {
      color: #01567f;
    }
    .all-size {
      div:hover {
        cursor: pointer;
      }
      display: flex;
      gap: 0.5em;
      margin: 0.5em 0;
      .each-size {
        color: #01567f;
        width: 30px;
        height: 30px;
        border-radius: 10%;
        border: 1px solid #b2bec3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active-size {
        color: #fff;
        background-color: #01567f;
        width: 30px;
        height: 30px;
        border-radius: 10%;
        border: 1px solid #b2bec3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .size-recommend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .size-recommend img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .count-addToCart {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  .count-picker {
    display: flex;
    align-items: center;
    justify-content: center;

    .count-button {
      width: 30px;
      height: 30px;
      //   padding: 5px 5px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      background-color: #01567f;
      border: none;
      cursor: pointer;
      border-radius: 50%;
    }

    .count-value {
      width: 90px;
      height: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      border: 1px solid #01567f;
      border-radius: 5px;
      color: #01567f;
      font-weight: lighter;
      font-size: 20px;
    }
  }
  .add-to-card-button {
    height: 30px;
    padding: 0 40px;
    background-color: #01567f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .free-ship-tag {
    color: #fff;
    background-color: #2ecc71;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
  }
}

//===============================================================
@media (max-width: 426px) {
  .ProductMainInfo-container .small-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
  }
}

@media (max-width: 376px) {
  .ProductMainInfo-container .small-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
  }
}

@media (max-width: 320px) {
  .ProductMainInfo-container .small-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
  }
}